<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<header th:replace="layout/layout :: headerCli"></header>
			</div>		
		</div>
		
		<div class="row">
			<div class="col-12">
				<div class="card bg-danger text-white">
				<div class="card-header">Error: Acceso Denegado!</div>
				<div class="card-body">
					<h5 class="card-title">Lo sentimos, no tiene permiso para acceder a este recurso.</h5>
					<a th:href="@{/}" class="btn btn-outline-light" role="button">Ir al inicio</a>
				</div>
				</div>
			</div>		
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>