<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8">
	</head>
	<body>	
		<div class="container-fluid">			
			<div class="row">
				<div class="col-12">
					<header th:replace="layout/layout :: headerCli"></header>
				</div>
		 	</div>
		 	
		 	<div class="row">
		 		<div class="col-1 col-sm-1"></div>
		 		<div class="col-10 pl-0 pr-0">
					 	<form th:action="@{/forgotPassword}" method="post">
					 	
						 	<div class="form-group">
						 		<div class="col-12 col-sm-4 text-left mt-sm-5 mt-5 p-2 pt-sm-4">
							    	<input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="E-Mail de la cuenta">
							    </div>
							    <small class="form-text text-danger" th:if="${errorMail != null}" th:text="${errorMail}"></small>
							</div>
							
							<div class="form-group">
						  		<div class="col-12 col-sm-4 text-left">
						  			<button type="submit" class="btn btn-primary">Enviar</button>
						  		</div>
							</div>
						</form>
				</div>
				<div class="col-1 col-sm-1"></div>
			</div>
		</div>
	</body>
</html>