<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8">
	</head>
	<body class="fondo-color">
	<header th:replace="layout/layout :: headerCli"></header>
	<div class="container">
 	<h1>Reinicio de contraseña</h1>
 	
 	<form th:action="@{/forgotPassword}" method="post">
	 	<div class="form-group row"><div class="col-1 d-sm-none"></div>
	 	<div class="col-10 col-sm-4">	
		    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="E-Mail de la cuenta">
		    <small class="form-text text-danger" th:if="${errorMail != null}" th:text="${errorMail}"></small>
		</div>
		</div>
		<div class="form-group row">
			<div class="col-1 d-sm-none"></div>
	  		<div class="col-10 col-sm-4 text-center">
	  			<button type="submit" class="btn btn-primary">Enviar</button>
			</div>
		</div>
	</form>
	</div>
	</body>
</html>