<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8">
	</head>
	<body class="fondo-color">
	<header th:replace="layout/layout :: headerCli"></header>
	<div class="container">
 	<h1>Reinicio de contraseña</h1>
 	<div class="form-group row"><div class="col-1 d-sm-none"></div>
 	<div class="col-10 col-sm-4">	
	    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-Mail de la cuenta">
	</div>
	</div>
	<div class="form-group row">
		<div class="col-1 d-sm-none"></div>
  		<div class="col-10 col-sm-4 text-center">
  			<button type="submit" onclick="resetPass()" class="btn btn-primary">Enviar</button>
		</div>
	</div>
	</div>
	 
	<script src="jquery.min.js"></script>
	<script th:inline="javascript">
	var serverContext = [[@{/}]];
	function resetPass(){
	    var email = $("#email").val();
	    $.post("/user/resetPassword",{email: email} ,
	      function(data){
	          window.location.href = "/login";
	           //serverContext + "login?message=" + data.message;
	        	  
	    })
	    .fail(function(data) {
	        if(data.responseJSON.error.indexOf("MailError") > -1)
	        {
	            window.location.href = serverContext + "emailError.html";
	        }
	        else{
	            window.location.href = 
	              serverContext + "login?message=" + data.responseJSON.message;
	        }
	    });
	}
	 
	</script>
	</body>
</html>