<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8" />
	</head>
	<body class="fondo-color">
		<header th:replace="layout/layout :: headerCli"></header> 		 
		<div class="container">
			<p></p>
			<p></p>
			<form th:action="@{/formUsuario}" th:object="${usuario}" method="post">
				<div class="row separacion4">
					<div class="col-1 col-sm-1 col-form-label d-none">&nbsp; </div>	
				</div>	
				<div class="row">
					<div class="col-1 d-sm-none"></div>
					<label class="col-4 col-sm-1 col-form-label">Email </label>
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4">
						<input type="text" th:field="*{username}" class="form-control" autocomplete="off"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
					</div>
				</div>	
				<div class="row">
					<div class="col-1 d-sm-none"></div>
					<label class="col-4 col-sm-1 col-form-label">Contraseña </label>
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4">
						<input type="password" th:field="*{password}" class="form-control" autocomplete="new-password" spellcheck="false">
						<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
					</div>
				</div>
				<div class="row">
					<div class="col-1 d-sm-none"></div>
					<label class="col-4 col-sm-2 col-form-label">Confirmar contraseña </label>
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4">
						<input type="password" class="form-control" autocomplete="new-password" spellcheck="false" name="passwordConf"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></small>
					</div>
				</div>
				<div class="row">
					<div class="col-1 d-sm-none"></div>
					<label class="col-4 col-sm-1 col-form-label">Nombre </label>
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4">
						<input type="text" th:field="*{pasajero.PasNombre}" class="form-control" autocomplete="off"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('pasajero.PasNombre')}" th:errors="*{pasajero.PasNombre}"></small>
					</div>
				</div>	
				<div class="row">
					<div class="col-1 d-sm-none"></div>
					<label class="col-4 col-sm-1 col-form-label">Apellido </label>
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4">
						<input type="text" th:field="*{pasajero.PasApellido}" class="form-control" autocomplete="off"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('pasajero.PasApellido')}" th:errors="*{pasajero.PasApellido}"></small>
					</div>
				</div>	
				<div class="row">
					<div class="col-1 d-sm-none"></div>
					<label class="col-4 col-sm-2 col-form-label">Nro. de Celular </label>
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4">
						<input type="text" th:field="*{pasajero.PasTelefono}" class="form-control" autocomplete="off"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('pasajero.PasTelefono')}" th:errors="*{pasajero.PasTelefono}"></small>
					</div>
				</div>	
				<div class="row separacion1">
					<div class="col-1 col-sm-1 col-form-label">&nbsp; </div>	
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4 text-center">
						<button type="submit" class="btn btn-primary">Confirmar</button>
						<!-- <input type="hidden" th:field="*{UsuId}" /> -->
						<!-- <input type="hidden" th:field="*{UsuEnabled}" value="1" /> -->
					</div>
					<div class="col-1"></div>
				</div>
			</form>
		</div>
	</body>
</html>