<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8" />
	</head>
	<body class="fondo-color">
		<header th:replace="layout/layout :: headerCli"></header> 		 
		<div class="container">
			<p></p>
			<p></p>
			<form th:action="@{/formPasajero}" th:object="${pasajero}" method="post">
				<div class="row separacion4">
					<div class="col-1 col-sm-1 col-form-label d-none">&nbsp; </div>	
				</div>
				<div class="row">
					<div class="col-1 d-sm-none"></div>
					<label class="col-4 col-sm-1 col-form-label">Nombre </label>
					<div class="col-sm-11 d-none"></div>
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4">
						<input type="text" th:field="*{PasNombre}" class="form-control"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('PasNombre')}" th:errors="*{PasNombre}"></small>
					</div>
				</div>	
				<div class="row">
					<div class="col-1 d-sm-none"></div>
					<label class="col-4 col-sm-1 col-form-label">Apellido </label>
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4">
						<input type="text" th:field="*{PasApellido}" class="form-control"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('PasApellido')}" th:errors="*{PasApellido}"></small>
					</div>
				</div>	
				<div class="row">
					<div class="col-1 d-sm-none"></div>
					<label class="col-4 col-sm-1 col-form-label">Celular</label>
				</div>
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4">
						<input type="number" th:field="*{PasTelefono}" class="form-control"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('PasTelefono')}" th:errors="*{PasTelefono}"></small>
					</div>
				</div>	
				<div class="row">
					<div class="col-1 d-sm-none"></div>
					<label class="col-4 col-sm-1 col-form-label">Email </label>
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4">
						<input type="text" th:field="*{usuario.username}" class="form-control"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('usuario.username')}" th:errors="*{usuario.username}"></small>
					</div>
				</div>	
				<div class="row">
					<div class="col-1 d-sm-none"></div>
					<label class="col-4 col-sm-1 col-form-label">Contraseña </label>
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4">
						<input type="password" th:field="*{usuario.password}" class="form-control"/>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('usuario.password')}" th:errors="*{PasPassword}"></small>
					</div>
				</div>	
				<div class="row separacion1">
					<div class="col-1 col-sm-1 col-form-label">&nbsp; </div>	
				</div>	
				<div class="form-group row">
					<div class="col-1 d-sm-none"></div>
					<div class="col-10 col-sm-4 text-center">
						<button type="submit" class="btn btn-primary">Confirmar</button>
						<input type="hidden" th:field="*{PasId}" />
						<input type="hidden" th:field="*{PasEstado}" value="P" />
					</div>
					<div class="col-1"></div>
				</div>
			</form>
		</div>
	</body>
</html>