<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8" />
	</head>
	<body class="fondo-color">
		<header th:replace="layout/layout :: headerCli"></header> 		 
		<script type="text/javascript" th:src="@{/js/iniHereMap.js} "></script>	
		<div class="container-fluid" id="contPpal"> 
			<p></p>
			<p></p>
			
			<form th:action="@{/formViaje}" th:object="${viaje}" method="post">
				<div id="espacioSup" class="row separacion1">
					<div class="col-1 col-sm-2 col-form-label d-none">&nbsp; </div>	
				</div>
				<div id="contOrigen">
					<div class="row">
						<div class="col-1 col-sm-1"></div>
						<label class="col-4 col-sm-1 col-form-label">Origen </label>
						<div class="col-sm-11 d-none"></div>
					</div>	
					<div class="form-group row">
						<div class="col-1 col-sm-1"></div>
						<div class="col-10 col-sm-3">
							<input id="OriCalle" type="text" th:field="*{ViaCalleOri}" class="form-control" placeholder="Calle" />
							<small id="errOriCalle2" class="form-text text-danger" th:if="${#fields.hasErrors('ViaCalleOri')}" th:errors="*{ViaCalleOri}"></small>
							<small id="errOriCalle" class="form-text text-danger d-none">Debe ingresar calle de origen.</small>
						</div>
					</div>	
					<div class="form-group row">
						<div class="col-1 col-sm-1"></div>
						<div class="col-10 col-sm-3">
							<input id="OriNum" type="number" th:field="*{ViaNumOri}" class="form-control" placeholder="Altura" />
							<small id="errOriNum2" class="form-text text-danger" th:if="${#fields.hasErrors('ViaNumOri')}" th:errors="*{ViaNumOri}"></small>
							<small id="errOriNum" class="form-text text-danger d-none">Debe ingresar altura del origen.</small>
						</div>
					</div>	
				</div>
				<div id="contDestino">
					<div class="row">
						<div class="col-1 col-sm-1"></div>
						<label class="col-4 col-sm-1 col-form-label">Destino </label>
						<div class="col-sm-11 d-none"></div>
					</div>	
					<div class="form-group row">
						<div class="col-1 col-sm-1"></div>
						<div class="col-10 col-sm-3">
							<input id="DesCalle" type="text" th:field="*{ViaCalleDes}" class="form-control" placeholder="Calle" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('ViaCalleDes')}" th:errors="*{ViaCalleDes}"></small>
							<small id="errDesCalle" class="form-text text-danger d-none">Debe ingresar calle de destino. </small>
						</div>
					</div>	
					<div class="form-group row">
						<div class="col-1 col-sm-1"></div>
						<div class="col-10 col-sm-3">
							<input id="DesNum" type="number" th:field="*{ViaNumDes}" class="form-control" placeholder="Altura" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('ViaNumDes')}" th:errors="*{ViaNumDes}"></small>
							<small id="errDesNum" class="form-text text-danger d-none">Debe ingresar altura del destino.</small>
						</div>
					</div>
				</div>
				<div id="contMapa" class="container-fluid d-none shadow p-3 mb-5 rounded"> 
					<div id="rowMapa" class="row altura-30 quitaMargRL">
						<div class="col-1 col-sm-1"></div>   
						<div id="mapContainer" class="col-10 col-sm-10 pb-4" > </div>
						<div class="d-none col-sm-1"></div>
		   	 		</div>  
		   	 		<div class="row">
						<div class="col-1 col-sm-1"></div>
						<label id="lblOrigen" class="col-10 col-sm-4"> </label>
						<div class="col-sm-11 d-none"></div>
					</div>	
					<div class="row">
						<div class="col-1 col-sm-1"></div>
						<label id="lblDestino" class="col-10 col-sm-4"> </label>
						<div class="col-sm-11 d-none"></div>
					</div>	
					<div class="row">
						<div class="col-1 col-sm-1"></div>
						<label id="lblMonEst" class="col-10 col-sm-5"> </label>
						<input id="monEst" type="hidden" class="d-none" th:field="*{ViaMonEst}"/> 
						<div class="col-sm-6 d-none"></div>
					</div>	
					<div class="row">
						<div class="col-1 d-sm-none"></div>
						<label class="col-7 col-sm-4"> </label>
						<button type="button" id="btnModif" class="col-3 col-sm-4 btn btn-success">Modificar</button>
						<div class=" d-none"></div>
					</div>	
				</div>
				<div class="row">
					<div class="col-1 col-sm-1"></div>
					<label class="col-4 col-sm-1 col-form-label">Teléfono</label>
				</div>
				<div class="form-group row">
					<div class="col-1 col-sm-1"></div>
					<div class="col-10 col-sm-3">
						<input type="number" th:field="*{ViaTelefono}" class="form-control" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('ViaTelefono')}" th:errors="*{ViaTelefono}"></small>
					</div>
				</div>
				<div class="row">
					<div class="col-1 col-sm-1"></div>
					<label class="col-4 col-sm-2 col-form-label">Forma de pago</label>
				</div>
				<div class="row">
					<div class="col-1 col-sm-1"></div>
					<div class="col-11 pb-3">
					<div class="col-11 pb-3">
						<input type="radio" name="medioPago" value="E" th:field="*{ViaForPag}"> Efectivo<br>
						<input type="radio" name="medioPago" value="T" th:field="*{ViaForPag}"> Tarjeta (vía Mercado Pago)<br>
					</div>
					</div>
				</div>
				<input type="hidden" id="bajban" th:value="${viaje.Tarifa.TarBajBan}"/>
				<input type="hidden" id="pre100m" th:value="${viaje.Tarifa.TarImp100m}"/>
				<div class="row separacion1">
					<div class="col-1 col-sm-1 col-form-label">&nbsp; </div>	
				</div>	
				<div id="contBtnPreEst" class="form-group row">
					<div class="col-1 col-sm-1">&nbsp;</div>
					<div id="btnVerPrecio" class="col-10 col-sm-3 text-center">
						<button type="button" class="btn btn-primary" >Ver precio estimado</button>
						<input type="hidden" />
					</div>
					<div class="col-1 ">&nbsp;</div>
				</div>
				<div class="form-group row">
					<div class="col-1 col-sm-1">&nbsp;</div>
					<div class="col-10 col-sm-3 text-center">
						<button type="submit" class="btn btn-primary">Confirmar</button>
						<input type="hidden" th:field="*{ViaId}" />
						
					</div>
					<div class="col-1 ">&nbsp;</div>
				</div>
			</form>
		</div>
		<footer th:replace="layout/layout :: footer"></footer>
		<script type="text/javascript" th:src="@{/js/funFormViaje.js} "></script>	
	</body>
</html>