<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8" />
	</head>
	<body>
		<script type="text/javascript" th:src="@{/js/iniHereMap.js} "></script>	
		<div class="container-fluid" id="contPpal"> 
		<div class="row">
			<div class="col-12 col-sm-12">
				<header th:replace="layout/layout :: headerCli"></header> 	
			</div>
		</div>
			
			<form th:action="@{/formViaje}" th:object="${viaje}" method="post">
				
				<div id="contOrigen">
					<div class="row">
						<div class="col-1 col-sm-1"></div>
						<label class="col-4 col-sm-1 col-form-label font-weight-bold mt-3">Origen </label>
						<div class="col-sm-11 d-none"></div>
					</div>	
					<div class="form-group row">
						<div class="col-1 col-sm-1"></div>
						<div class="col-10 col-sm-3">
							<input id="OriCalle" type="text" th:field="*{ViaCalleOri}" class="form-control" placeholder="Calle" />
							<small id="errOriCalle2" class="form-text text-danger" th:if="${#fields.hasErrors('ViaCalleOri')}" th:errors="*{ViaCalleOri}"></small>
							<small id="errOriCalle" class="form-text text-danger d-none">Debe ingresar calle de origen.</small>
						</div>
					</div>	
					<div class="form-group row">
						<div class="col-1 col-sm-1"></div>
						<div class="col-10 col-sm-3">
							<input id="OriNum" type="number" th:field="*{ViaNumOri}" class="form-control" placeholder="Altura" />
							<small id="errOriNum2" class="form-text text-danger" th:if="${#fields.hasErrors('ViaNumOri')}" th:errors="*{ViaNumOri}"></small>
							<small id="errOriNum" class="form-text text-danger d-none">Debe ingresar altura del origen.</small>
						</div>
					</div>	
				</div>
				<div id="contDestino">
					<div class="row">
						<div class="col-1 col-sm-1"></div>
						<label class="col-4 col-sm-1 col-form-label font-weight-bold">Destino </label>
						<div class="col-sm-11 d-none"></div>
					</div>	
					<div class="form-group row">
						<div class="col-1 col-sm-1"></div>
						<div class="col-10 col-sm-3">
							<input id="DesCalle" type="text" th:field="*{ViaCalleDes}" class="form-control" placeholder="Calle" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('ViaCalleDes')}" th:errors="*{ViaCalleDes}"></small>
							<small id="errDesCalle" class="form-text text-danger d-none">Debe ingresar calle de destino. </small>
						</div>
					</div>	
					<div class="form-group row">
						<div class="col-1 col-sm-1"></div>
						<div class="col-10 col-sm-3">
							<input id="DesNum" type="number" th:field="*{ViaNumDes}" class="form-control mb-2" placeholder="Altura" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('ViaNumDes')}" th:errors="*{ViaNumDes}"></small>
							<small id="errDesNum" class="form-text text-danger d-none">Debe ingresar altura del destino.</small>
						</div>
					</div>
				</div>
				
				<div id="contBtnPreEst">
					<div class="form-group row">
						<div class="col-1 col-sm-1"></div>
						<div class="col-10 col-sm-3 text-center">
							<button id="btnVerPrecio" type="button" class="btn btn-primary mt-1">Ver precio estimado</button>
							<input type="hidden"/>
						</div>
					</div>
				</div>
				
				<div id="contInfoMapa" class="container-fluid d-none"> 
					<div id="rowMapa" class="row altura-30 sombra mt-2"> 
						<div id="mapContainer" class="col-12 col-sm-12 quitaPad "> </div>
		   	 		</div>  	
		   	 		<div class="row separacion1">
						<div class="col-1 col-sm-1 col-form-label"></div>	
					</div>	
		   	 		<div class="row mb-1">
						<div class="col-1 col-sm-1"></div>
						<div class="col-3 col-sm-1 font-weight-bold">Desde:</div>
						<div id="lblOrigen" class="col-7 col-sm-4 pl-0 pl-sm-3"> </div>
						<div class="col-1 col-sm-6"></div>
					</div>	
					<div class="row mb-1">
						<div class="col-1 col-sm-1"></div>
						<div class="col-3 col-sm-1 font-weight-bold">Hasta:</div>
						<div id="lblDestino" class="col-7 col-sm-4 pl-0 pl-sm-3"> </div>
						<div class="col-1 col-sm-6"></div>
					</div>	
					<div class="row mb-2">
						<div class="col-1 col-sm-1"></div>
						<div class="col-6 col-sm-3 font-weight-bold pr-0"> Precio estimado:</div> 
						<div id="lblMonEst" class="col-3 col-sm-4 text-left pl-0 pl-sm-2"> </div>
						<div class="col-2 col-sm-4"></div>
						<input id="monEst" type="hidden" class="d-none" th:field="*{ViaMonEst}"/> 
					</div>	
					<div class="row text-center ">
						<div class="col">
							<button type="button" id="btnModif" class=" btn btn-secondary mb-3">Modificar</button>
						</div>
					</div>	
		   	 		
				</div>
				<div class="row">
					<div class="col-1 col-sm-1"></div>
					<label class="col-10 col-sm-1 col-form-label font-weight-bold">Teléfono</label>
				</div>
				<div class="form-group row">
					<div class="col-1 col-sm-1"></div>
					<div class="col-10 col-sm-3">
						<input type="number" th:field="*{ViaTelefono}" class="form-control" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('ViaTelefono')}" th:errors="*{ViaTelefono}"></small>
					</div>
				</div>
				<div class="row">
					<div class="col-1 col-sm-1"></div>
					<label class="col-10 col-sm-1 col-form-label font-weight-bold">Forma de pago</label>
				</div>
				
				<div class="form-group row">
					<div class="col-1 col-sm-1"></div>
					<div class="col-10 col-sm-3">
						<input type="radio" name="medioPago" value="E" th:field="*{ViaForPag}"> Efectivo<br>
						<input type="radio" name="medioPago" value="T" th:field="*{ViaForPag}"> Tarjeta (vía Mercado Pago)<br>
					</div>
				</div> 
				<input type="hidden" id="bajban" th:value="${viaje.Tarifa.TarBajBan}"/>
				<input type="hidden" id="pre100m" th:value="${viaje.Tarifa.TarImp100m}"/>
				
				<div class="form-group row">
					<div class="col-1 col-sm-1"></div>
					<div class="col-10 col-sm-3 text-center">
						<button type="submit" class="btn btn-primary">Confirmar</button>
						<input type="hidden" th:field="*{ViaId}" />
					</div>
				</div>
			</form>
		</div>
		<footer th:replace="layout/layout :: footer"></footer>
		<script type="text/javascript" th:src="@{/js/funFormViaje.js} "></script>	
	</body>
</html>