<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8" />
	</head>
		<body>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<header th:replace="layout/layout :: headerCli"></header>
					</div>
				</div>
				<div class="row">  
					<div class="col-1 p-4"></div> 
				</div> 
				<div class="row">
					<div class="col-12 text-center">
						<h1>Remises Norte</h1>
					</div>
				</div>
				<div class="row">  
					<div class="col-1 p-4"></div> 
				</div> 
				<div class="row">
					<div class="col-5 text-center"></div>
					<div class="col-2 text-center">
						<form>
							<div class="form-group">
								<a type="submit" class="btn btn-primary btn-lg" th:href="@{/formViaje}">Pedir m&oacute;vil</a>
							</div>
							
							<div class="form-group" sec:authorize="!isAuthenticated()">
								<a type="submit" class="btn btn-primary btn-lg" th:href="@{/login}">Iniciar sesi&oacute;n</a>
							</div>
							
							<div class="form-group" sec:authorize="!isAuthenticated()">
								<a type="submit" class="btn btn-primary btn-lg" th:href="@{/formUsuario}">Nueva cuenta</a>
							</div>
						</form>
					</div>
					<div class="col-5 text-center"></div>
				</div>
				<!-- <div class="row">
					<div class="col-1"></div>
					<div class="col-10 pt-3 pb-2 titulo-logo"> 
						<h1>
							<a href="#">Remises</a>
						</h1>
					</div>
					<div class="col-1"></div>
					
					<div class="col-1"></div>
					<div class="col-10 pb-2 titulo-logo"> 
						<h1>
							<a href="#">Norte</a>
						</h1>
					</div>
					<div class="col-1"></div>
				</div> -->
				
<!-- 				<div class="row fondo-color altura-20">  -->
<!-- 					<div class="col-1 p-4"></div> -->
<!-- 				</div> -->
			
				<!-- <div class="row form-group">
					<div class="col-1 col-sm-5"></div>
					<div class="col-10 col-sm-2 text-center">
						<a type="submit" class="btn btn-primary" th:href="@{/formViaje}">Pedir m&oacute;vil</a>
					</div>
					<div class="col-1 col-sm-5"></div>
				</div> -->
				
<!-- 				<div class="row fondo-color altura-3" sec:authorize="!isAuthenticated()">  -->
<!-- 					<div class="col-1 p-4"></div> -->
<!-- 				</div> -->
				
				<!-- <div class="row form-group" sec:authorize="!isAuthenticated()">
					<div class="col-1 col-sm-5"></div>
					<div class="col-10 col-sm-2 text-center">
						<a type="submit" class="btn btn-primary" th:href="@{/login}">Iniciar sesi&oacute;n</a>
					</div>
					<div class="col-1 col-sm-5"></div>
				</div> -->
				
<!-- 				<div class="row fondo-color altura-3">  -->
<!-- 					<div class="col-1 p-4"></div> -->
<!-- 				</div> -->
				
				<!-- <div class="row form-group" sec:authorize="!isAuthenticated()">
					<div class="col-1 col-sm-5"></div>
					<div class="col-10 col-sm-2 text-center">
						<a type="submit" class="btn btn-primary" th:href="@{/formUsuario}">Nueva cuenta</a>
					</div>
					<div class="col-1 col-sm-5"></div>
				</div> -->
				
<!-- 				<div class="row fondo-color">  -->
<!-- 					<div class="col-1 p-4"></div> -->
<!-- 				</div>		 -->
			</div>
			
		<footer th:replace="layout/layout :: footer"></footer>
	</body>
</html>