<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8" />
	</head>
		<body class="fondo-color">
				<header th:replace="layout/layout :: headerOpe"></header>
				<div class="container-fluid fondo-color" style="height: 33.3rem">
			<div class="row fondo-color"> 
				<div class="col-1 p-5"></div>
			</div>
			<div class="row fondo-oscuro">
				<div class="col-1"></div>
				<div class="col-10 pt-3 pb-2 titulo-logo"> 
					<h1>
						<a href="#">Remises</a>
					</h1>
				</div>
				<div class="col-1"></div>
				<div class="col-1"></div>
				<div class="col-10 pb-2 titulo-logo"> 
					<h1>
						<a href="#">Norte</a>
					</h1>
				</div>
				<div class="col-1"></div>
			</div>
			<div class="row fondo-color altura-15"> 
				<div class="col-1 p-4"></div>
			</div>
			<div class="row form-group">
				<div class="col-1 col-sm-5"></div>
				<div class="col-10 col-sm-2 text-center">
					<a type="submit" class="btn btn-primary" th:href="@{/listarViajes}">Pedidos</a>
				</div>
				<div class="col-1 col-sm-5"></div>
			</div>
			<div class="row form-group">
				<div class="col-1 col-sm-5"></div>
				<div class="col-10 col-sm-2 text-center">
					<a type="submit" class="btn btn-primary" th:href="@{/listarRemises}">Remises</a>
				</div>
				<div class="col-1 col-sm-5"></div>
			</div>	
			<div class="row form-group">
				<div class="col-1 col-sm-5"></div>
				<div class="col-10 col-sm-2 text-center">
					<a type="submit" class="btn btn-primary" th:href="@{/listarTarifas}">Tarifa</a>
				</div>
				<div class="col-1 col-sm-5"></div>
			</div>
			<div class="row form-group">
				<div class="col-1 col-sm-5"></div>
				<div class="col-10 col-sm-2 text-center">
					<a type="submit" class="btn btn-primary" th:href="@{/listarOperadores}">Operadores</a>
				</div>
				<div class="col-1 col-sm-5"></div>
			</div>
			<div class="row form-group">
				<div class="col-1 col-sm-5"></div>
				<div class="col-10 col-sm-2 text-center">
					<a type="submit" class="btn btn-primary" th:href="@{/listarPasajeros}">Pasajeros</a>
				</div>
				<div class="col-1 col-sm-5"></div>
			</div>
		</div>
		<footer th:replace="layout/layout :: footer"></footer>
	</body>
</html>