<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8" />
	</head>
	<body class="fondo-color">
		<header th:replace="layout/layout :: headerOpe"></header>
		<div class="container">
			<p></p>
			<p></p>
			<input type="hidden" id="maxViaIdInicial" th:value="${maxViaIdInicial}" />
			<input type="hidden" id="localStorage"  />
			<input type="hidden" id="maxViaIdActual" th:value="${maxViaIdActual}" />
			<div class="row">
				<div class="col-1">
					<a class="btn btn-xs btn-info" data-toggle="tooltip" title="Actualizar página" data-placement="bottom"><span class="oi oi-reload" onClick="window.location.reload();"></span></a>
				</div>
				<div class="col-5">
					<span id="notifViaje" class="parpadea text d-none" onClick="window.location.reload();"><strong>Hay pedidos nuevos. Actualice para ver.</strong></span>
				</div>
				<div class="col-6"> </div>
			</div>
			<div class="separacion1"></div>
			<div class="separacion1"></div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="columna">Id</th>
						<th class="columna">Origen: Calle</th>
						<th class="columna">Altura</th>
						<th class="columna">Fecha solic.</th>
						<th class="columna">Hora</th>
						<th class="columna">Estado</th>
						<th class="columna">Remisero</th>
						<th class="text-center columna">Asignar móvil</th>
						<!-- <th class="text-center columna">Cancelar pedido</th>  -->
					</tr>
				</thead>
				<tbody>
					<tr th:each="viaje: ${viajes}">
						<td th:text="${viaje.ViaId}"></td>
						<td th:text="${viaje.ViaCalleOri}"></td>
						<td th:text="${viaje.ViaNumOri}"></td>				
						<td th:text="${viaje.ViaFecSol}"></td>	
						<td th:text="${viaje.ViaHorSol}"></td>	
						<td th:if="${viaje.ViaEstado == 'P'}">Pendiente</td>
						<td th:if="${viaje.ViaEstado == 'C'}">Confirmado</td>
						<td th:if="${viaje.ViaEstado == 'F'}">Finalizado</td>
						<td th:if="${viaje.Remis != null}" th:text="${viaje.Remis.RemApeConductor} + ' ' + ${viaje.Remis.RemNomConductor}" ></td>
						<td th:if="${viaje.Remis == null}"></td>
						<td class="text-center">
							<a class="btn btn-xs btn-info" th:href="@{/formViajeRem/} + ${viaje.ViaId}" data-toggle="tooltip" title="Asignar remisero" data-placement="bottom" >
								<span class="oi oi-account-login"></span>
							</a>
						</td>
						<!-- <td class="text-center">
							<a class="btn btn-xs"  th:href="@{/eliminarViaje/} + ${viaje.ViaId}" onclick="return confirm('Estás seguro de que quieres eliminar el pedido?');" data-toggle="tooltip" title="Cancelar Pedido" data-placement="bottom" >
								<span style="color: Tomato;"><i class="fas fa-trash-alt"></i></span>
							</a>
						</td>  -->
					</tr>
				</tbody>
			</table>
			<nav th:replace="paginator-nav :: paginator"></nav>
		</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script type="text/javascript" th:src="@{/js/funNotifs.js} "></script>	
	</body>
</html>