<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8" />
	</head>
<body class="fondo-color">
	<header th:replace="layout/layout :: headerOpe"></header>
	<div class="container">
		<p></p>
		<p></p>
		
		
		<div class="row">
			<div class="col-1">
				<a class="btn btn-primary btn-xs"  th:href="@{/formTarifa}" data-toggle="tooltip" title="Agregar Nueva Tarifa" data-placement="bottom"><i class="fas fa-plus"></i></a>
			</div>
			<div class="col-11"> </div>
		</div>
		<div class="separacion1"></div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="columna">Id</th>
					<th class="columna">Fecha vigencia desde</th>
					<th class="columna">Fecha vigencia hasta</th>
					<th class="columna">Bajada de bandera</th>
					<th class="columna">Importe cada 100m</th>
					<th class="text-center columna">Modificar</th>
					<th class="text-center columna">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tarifa: ${tarifas}">
<!-- 					llama implicitamente a los get. Por eso es necesario tenerlos siempre definidos en la clase -->
					<td th:text="${tarifa.TarId}"></td> 
					<td th:text="${tarifa.TarFecVigDes}"></td>
					<td th:text="${tarifa.TarFecVigHas}"></td>
					<td th:text="${tarifa.TarBajBan}"></td>
					<td th:text="${tarifa.TarImp100m}"></td>
					<!-- <td class="text-center"><a class="btn btn-danger btn-xs"  th:href="@{/eliminarTarifa/} + ${tarifa.TarId}" onclick="return confirm('Estás seguro de que quieres eliminar la tarifa?');" th:text="eliminar"></a></td>
					 -->
					 <td class="text-center">
							<a class="btn btn-xs"  th:href="@{/formTarifa/} + ${tarifa.TarId}"  data-toggle="tooltip" title="Modificar Tarifa" data-placement="bottom" >
								<span style="color: blue;"><i class="fas fa-edit"></i></span>
							</a>
						</td>
					<td class="text-center">
						<a class="btn btn-xs"  th:href="@{/eliminarTarifa/} + ${tarifa.TarId}" onclick="return confirm('Estás seguro de que quieres eliminar la tarifa?');" data-toggle="tooltip" title="Eliminar Tarifa" data-placement="bottom" >
							<span style="color: Tomato;"><i class="fas fa-trash-alt"></i></span>
						</a>
					</td>
				
				</tr>
			</tbody>
		</table>
	</div>	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>