<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8" />
	</head>
	<body class="fondo-color">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<header th:replace="layout/layout :: headerOpe"></header>
				</div>
			</div>
			<p></p>
			<p></p>
			<div class="row">
				<div class="col-1">
					<a class="btn btn-xs btn-info"  th:href="@{/formRemis}" data-toggle="tooltip" title="Agregar Nuevo Remis" data-placement="bottom"><span class="oi oi-plus"></span></a>
				</div>
				<div class="col-11"> </div>
			</div>
			<div class="separacion1"></div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="columna">Id</th>
						<th class="columna">Patente</th>
						<th class="columna">Modelo</th>
						<th class="columna">Marca</th>
						<th class="columna">Estado</th>
						<th class="columna">Nombre Conductor</th>
						<th class="columna">Apellido</th>
						<th class="text-center columna">Modificar</th>
						<th class="text-center columna">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="remis: ${remises}">
						<td th:text="${remis.RemId}"></td> <!-- llama implicitamente a los get. Por eso es necesario tenerlos siempre definidos en la clase -->
						<td th:text="${remis.RemPatente}"></td>
						<td th:text="${remis.RemModelo}"></td>
						<td th:text="${remis.RemMarca}"></td>
						<td th:if="${remis.RemEstado == 'S'}">Disponible</td>
						<td th:if="${remis.RemEstado == 'N'}">No disponible</td>
						<td th:if="${remis.RemEstado == null}">No disponible</td>
						<td th:text="${remis.RemNomConductor}"></td>
						<td th:text="${remis.RemApeConductor}"></td>
						<td class="text-center">
							<a class="btn btn-xs btn-info"  th:href="@{/formRemis/} + ${remis.RemId}"  data-toggle="tooltip" title="Modificar Remis" data-placement="bottom" >    
								<span class="oi oi-pencil"></span>
							</a>
						</td>
						<td class="text-center">
							<a class="btn btn-xs btn-danger"  th:href="@{/eliminarRemis/} + ${remis.RemId}" onclick="return confirm('Estás seguro de que quieres eliminar el remís?');" data-toggle="tooltip" title="Eliminar Remis" data-placement="bottom" >
								<span class="oi oi-trash"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<footer th:replace="layout/layout :: footer"></footer>
	</body>
</html>