<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/layout :: head">
		<meta charset="UTF-8">
	</head>
	<body class="fondo-color">
	<header th:replace="layout/layout :: headerCli"></header>
	<div class="container">
 	<h1>Reinicio de contraseña</h1>
 	
 	<form th:action="@{/resetPassword}" method="post">
	 	<div class="form-group row"><div class="col-1 d-sm-none"></div>
		 	<div class="col-10 col-sm-4">	
			    <input type="password" class="form-control" name="password" placeholder="Nueva contraseña" autocomplete="new-password" spellcheck="false">
				<small class="form-text text-danger" th:if="${ePassword != null}" th:text="${ePassword}"></small>
			</div>
		</div>
		<div class="form-group row"><div class="col-1 d-sm-none"></div>
		 	<div class="col-10 col-sm-4">	
			    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirmar nueva contraseña" autocomplete="new-password" spellcheck="false">
				<small class="form-text text-danger" th:if="${eConfirmPassword != null}" th:text="${eConfirmPassword}"></small>
			</div>
		</div>
		<input type="hidden" class="form-control" name="token" id="token" th:value="${token}">
		<div class="form-group row">
			<div class="col-1 d-sm-none"></div>
	  		<div class="col-10 col-sm-4 text-center">
	  			<button type="submit" class="btn btn-primary">Enviar</button>
			</div>
		</div>
	</form>
	</div>
	</body>
</html>